

.Carro {background-color: rgb(221, 88, 88);
                      
    text-decoration: none;  
    padding: 20px 30px;
     display: block; 
      
}  
 .Carro {
  background-image: url(../imagenes/carrito..png);
  background-size: 25px  50px;
  background-repeat: no-repeat;
  
 }