
 .navegacion button  {background-color: whitesmoke;
                      
                      text-decoration: none;  
                      padding: 10px 15px;
                       display: block; 
                        
}   
.navegacion  button {
    float: left;
    
}
.navegacion li {
    display: none;

}

.navegacion:hover>li{
    display: block;
}

.navegacion #Karrito{
    src: url(https://cdn-icons-png.flaticon.com/512/3144/3144456.png);
}


